:root {
  --text-color: #212121;
  --logo-color: #000000;
  --hover-color: #2196f3;
  --contacts-color: #757575;
  --foot-cont-color: rgba(255, 255, 255, 0.6);
  --fons-html: #ffffff;
  --fons-title-color: #2f303a;
  --button-color: #f5f4fa;
  --line-color: #ececec;
}

* {
  list-style: none;
}

body {
  font-family: 'roboto', sans-serif;
  background: var(--fons-html);
  color: var(--title-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Header
=================== */
.header {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2em;
  text-decoration: none;
  color: var(--hover-color);
}

.logo .head-logo-elem {
  color: var(--logo-color);
}

.nav {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1em;
}

.nav-item {
  display: flex;
  padding-left: 0;
  margin-left: 93px;
}

.nav-item .item + .item,
.nav-cont .item + .item {
  margin-left: 50px;
}

.nav .nav-elem:hover,
.nav .nav-elem:focus {
  color: var(--hover-color);
}

.nav-elem,
.contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
}

.nav-elem {
  color: var(--title-color);
}

.nav-cont {
  display: flex;
  margin-left: auto;
}

.contacts {
  color: var(--contacts-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--hover-color);
}

/* Main
=================== */

.title {
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--fons-title-color);
}

.title-text {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4em;
  color: var(--fons-html);
}

.title-but {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9em;
  cursor: pointer;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: var(--hover-color);
  background: var(--hover-color);
  color: var(--fons-html);
}

.quality-item {
  display: flex;
}

.quality-elem {
  width: 270px;
}

.quality-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1em;
}

.quality-text {
  font-size: 14px;
  line-height: 1.7em;
  color: var(--contacts-color);
}

.services-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2em;
}

.team-name,
.team-position {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2em;
}

.team-position {
  color: var(--contacts-color);
}

/* Button
=================== */

.work-but {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6em;
  cursor: pointer;
  background: var(--button-color);
}

.work-but:hover,
.work-but:focus {
  background: var(--hover-color);
  color: var(--fons-html);
}

/* Features
=================== */

.features-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
}

.features-text {
  font-size: 16px;
  line-height: 1.9em;
  color: var(--contacts-color);
}

/* Footer
=================== */

.footer {
  background: var(--fons-title-color);
}

.foot-logo-elem {
  color: var(--fons-html);
}

.foot-add,
.foot-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7em;
}

.foot-add {
  color: var(--fons-html);
}

.foot-contacts {
  text-decoration: none;
  color: var(--foot-cont-color);
}

.foot-contacts:hover,
.foot-contacts:focus {
  color: var(--hover-color);
}
